body {
  background-color: #ddffff !important;
}
/* Nav Bar and footer*/
.navbar {
  font-family: 'Karma', serif;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5;
	padding: .5rem 1rem;
	align-items: center;
}

#footer {
  position: absolute;
  width: 100%;
  height: auto;
  font-family: 'Karma', serif;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.5;
}

.skip-link {
  position: absolute;
  text-decoration: underline;
  top: -40px;
  left: 0;
  background: #FFA500;
  /* orange */
  color: #000080;
  /* navy */
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.logo {
  width: 200px;
}

.logo-contact {
  width: 500px;
}

.logo-foot {
  float: left;
  padding: 20px;
}

.navbar-brand img {
  max-width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: gold;
  transition: 0.2s;
}

.nav-item:hover::after {
  width: 100%;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: gold;
}

.dropdown-item {
  background-color: #FF8C00;
  /* darkorange */
}

.dropdown-item:hover {
  background-color: #add8e6;
  /* Lightblue */
}

*:focus {
  outline-color: #191970;
  /* midnightblue */
}

.nav-link {
  font-weight: bold;
  font-size: 1.25rem;
  /* 20px */
  padding: 15px 5px;
  transition: 0.2s;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Tablets, Laptops */
  .nav-link {
    font-size: 1.05rem;
    /* 16px */
  }
}

@media only screen and (min-width: 0px) and (max-width: 580px) {
  /* Phones & other small devices */
  .logo {
    margin: auto 30px;
  }

  .logo-foot {
    float: none;
    display: block;
    margin: auto;
  }
}
.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  color: darkorange;
  text-align: center;
}
.addr-foot {
  padding: 10px;
  font-size: 1.25rem;
	color: #191970;
}

.addr-foot a {
  color: navy;
}
.copyRght {
  font-size: 1.25rem;
	color: #191970;
}
/* -----------------------------------------------------------------*/
/* Nathan's GI page*/
/* -----------------------------------------------------------------*/
.Heading{
  font-family: 'Sriracha';
}
.body{
  font-family: 'Roboto Condensed';
}
/* Container 1*/
.C1 {
    height: auto;
    padding-left: 60px;
}
.C1Btext{
  padding-right: 35%
}
/* -----------------------------------------------------------------*/


/* Container 2*/
.C2 {
    height: auto;
    padding-top:60px;
    padding-bottom:60px;
}

/* -----------------------------------------------------------------*/


/* Container 3*/
.C3 {
    background-color: rgb(128,237,153);
    height: 300px;
    padding-top:60px;
}
/* -----------------------------------------------------------------*/
/* Container 4*/
.C4 {
    background-color: rgb(199,249,204);
}
/* -----------------------------------------------------------------*/
/* Container 5*/
.C5 {
    background-color: rgb(87,204,153);
}
