/* styles */

html, body {
height: 100%;    
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    font-family: 'Karma', serif;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

.skip-link {
    position: absolute;
    text-decoration: underline;
    top: -40px;
    left: 0;
    background: orange;
    color: navy;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.logo {
   width:300px;
}

.logo-foot {
/*    width: 300px;*/
    float: left;
    padding: 20px;
}

.navbar-brand {
    font-size: 2.5rem; /* 40px */
    font-family: "Merienda";
    max-width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.dropdown-item {
    background-color: darkorange; /* moccasin */
}

.dropdown-item:hover {
    background-color: #87CEEB; /* skyblue */
}

*:focus {
    outline-color: #191970; /* midnightblue */
}

.nav-link {
    font-weight: bold;
    font-size: 1.15rem; /* 18px */
}

/*
.nav-link:hover {
    background-color: #87CEEB;  skyblue 
}
*/

.nav-marg {
    margin-bottom: 20px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

main {
    height: auto;
    min-height: 100%;
}

.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    color: darkorange;
    text-align: center;
}

.addr-foot {
    padding: 10px;
    font-size: 1.25rem;
}

.addr-foot a {
    color: navy;
}

.copyRght {
    font-size: 1.25rem;
}

#footer {
   position: absolute;
   clear: both;
/*   bottom: 0;*/
/*   left: 0px;    */
   width: 100%;
   height: auto;
}


/* Responsive CSS */


@media only screen and (min-width: 992px) and (max-width: 1200px) { /* Laptops and Desktops */
    
}

@media only screen and (min-width: 768px) and (max-width: 992px) { /* Tablets, Laptops */
    
}

@media only screen and (min-width: 0px) and (max-width: 580px) { /* Phones & other small devices */
    
    .logo-foot {
        float: none;
        display: block;
        margin: auto;
    }
}