/* styles */

html, body {
height: 100%;    
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    font-family: 'Karma', serif;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

.skip-link {
    position: absolute;
    text-decoration: underline;
    top: -40px;
    left: 0;
    background: orange;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.logo {
   width:300px; 
   margin-left: auto; 
   margin-right: auto; 
}

.navbar-brand {
    font-size: 2.5rem; /* 40px */
    font-family: "Merienda";
    max-width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.dropdown-item {
    background-color: darkorange; /* moccasin */
}

.dropdown-item:hover {
    background-color: #87CEEB; /* skyblue */
}

*:focus {
    outline-color: #191970; /* midnightblue */
}

.nav-link {
    font-weight: bold;
    font-size: 1.15rem; /* 18px */
}

/*
.nav-link:hover {
    background-color: #87CEEB;  skyblue 
}
*/

.nav-marg {
    margin-bottom: 20px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

main {
    height: auto;
    min-height: 100%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

/*
.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram {
    background: orange;
}
*/

#footer {
   position: absolute;
/*   bottom: 0;*/
/*   left: 0px;    */
   width: 100%;
   height: auto;
}